@import "../../global.scss";

.menu{
    width: 300px;
    height: 100vh;
    z-index: 33;
    background-color: #15023a;
    top: 0;
    right: -300px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in;
    @include mobile{
        user-select: none !important;
    }
    &.active{
        right:0;
    }
    ul{
        font-size:30px;
        margin-left: 30px;
        padding:0;
        font-weight: 300;
        width: 100%;
        li{
            cursor: pointer;
            margin-bottom: 20px;
            a{
                color: white;
            }
            &:hover{
                font-weight: 500;
            }
            .gitlink{
                margin-right: 10px;
            }
           
           
        }
        .contact{
            display: none;
            @include mobile{
                display: block;
                font-size:14px;
                color:white;
                margin-top: 20px;
                i{
                    margin-right: 4px;
                }

            }
        }
    }
}