@import "../../global.scss";
.works{
    position: relative;
    background-color: crimson;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .slick-slide > div {
    margin: 0 10px;
    }
    .slick-list {
    margin: 0 -10px;
    }

    .slick-slide > div {
    margin: 0 10px;
    }
    .slick-list {
    margin: 0 -10px;
    }
    .headerTitle{
        position: absolute;
        top: 0;
        h2{
            font-size: 40px;
            color: white;
            text-align: center;
            font-weight: 500;
            font-style:inherit;
            letter-spacing: 2px;
        }
    }
    
    .slider{
       height: 400px;
       display: flex;
       position: absolute;
        .container{
            width: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mobile {
                width: 450px;
            }
            .card{ 
                width: 700px;
                height: 100%;
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
                background-color: white;
               border-radius: 20px;
                .top{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .topContainer{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        img{
                            width: 550px;
                            overflow: hidden;
                            @include mobile{
                                width: 400px;
                            }
                        }
                        .desc{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            .title{
                                font-size: 14px;
                                font-weight: 500;
                                color: #15023a;
                            }
                            a{
                                color: #15023a;
                                i{
                                    font-size: 20px;
                                }
                            }
                        }
                       
                    }

                }
                // .rigth{
                //     flex: 10;
                //     height: 100%;
                //     display: flex;
                //     align-items: center;
                //     overflow: hidden;
                //     user-select: none;
                //     img{
                //         width: 100%;
                //     }

                // }

            }
        }
    }

    // .slick-next .slick-prev{
    //     position: absolute;
    //     height: 50px;
    //     cursor: pointer;
    //     &.slick-prev-arrow{
    //         transform: rotate(180deg);
    //         left: 100px;
    //     }
    //     &.slick-next-arrow{
    //         right: 100px !important;
    //     }
    // }
}
